img[src*='#left'] {
  float: left;
  margin-right: 10px;
}
img[src*='#right'] {
  float: right;
}
img[src*='#center'] {
  display: block;
  margin: auto;
}
.sidebar-sticky > nav > ul > li:last-child > a, .sidebar-sticky > nav > ul > li:nth-child(7) > a {
  color: #ff0000;
}
