### Богослужебные указания на сегодня

<div id="orthodox_calendar"></div>

<script type="text/javascript" src="/assets/js/loadCalendar2r.js?v={{ site.time | date:'%s' }}"></script>
<script type="text/Javascript">
 var today=new Date();     
 var mm=today.getMonth()+1;
 var dd=today.getDate();   
 var yy=today.getFullYear();
 var dt=1;                  
 var hh=1;                  
 var ll=1;                  
 var tt=0;                  
 var ss=1;                  


 loadCalendar2r(mm,dd,yy,dt,hh,ll,tt,ss,'ru');
</script>
